<h1>Add Report</h1>

<p>
Ok - be honest. If it's been a few days, simply average out your input.
</p>

<form class="">

	<div class="control-group">
	    <label class="control-label"><b>How did you eat?</b></label>
	    <div class="controls">
	      <label class="radio" for="food_vp">
	        <input type="radio" name="food" id="food_vp" value="vp">
	        Very Poorly
	      </label>
	      <label class="radio" for="food_sp">
	        <input type="radio" name="food" id="food_sp" value="sp">
	        Somehwat Poorly
	      </label>
	      <label class="radio" for="food_ok">
	        <input type="radio" name="food" id="food_ok" value="ok">
	        Ok
	      </label>
	      <label class="radio" for="food_gd">
	        <input type="radio" name="food" id="food_gd" value="gd">
	        Good
	      </label>
	      <label class="radio" for="food_gr">
	        <input type="radio" name="food" id="food_gr" value="gr">
	        Great
	      </label>
	    </div>
	</div>

	<div class="control-group">
	    <label class="control-label"><b>Did you exercise?</b></label>
	    <div class="controls">
	      <label class="radio" for="exercise_no">
	        <input type="radio" name="exercise" id="exercise_no" value="no">
	        Not at all
	      </label>
	      <label class="radio" for="exercise_lb">
	        <input type="radio" name="exercise" id="exercise_lb" value="lb">
	        A little bit
	      </label>
	      <label class="radio" for="exercise_yes">
	        <input type="radio" name="exercise" id="exercise_yes" value="yes">
	        Yes
	      </label>
	      <label class="radio" for="exercise_lm">
	        <input type="radio" name="exercise" id="exercise_lm" value="lm">
	        Like a machine
	      </label>
	    </div>
	</div>

	<button class="btn btn-warning">Cancel</button>
	<button class="btn btn-success">Save</button>


</form>