<div id="profileCreateiew">

<h1>Create Your Profile</h1>

<form>
	
	<fieldset class="control-group">
	<label>Your name</label>
	<input type="text" id="name">
	</fieldset>

	<fieldset class="control-group">
	<label>Your goal</label>
	<label class="radio">
	<input type="radio" name="goal" value="lose">Lose Weight<br/>
	<input type="radio" name="goal" value="maintain">Maintain Weight<br/>
	</label>
	</fieldset>

	<fieldset class="control-group">
	<label>Your Weight Now (if you know it)</label>
	<input type="number" id="weight">
	</fieldset>

	<p>
		<button id="createProfileButton" class="btn btn-primary">Create</button>
	</p>

</form>

</div>