<div id="welcomeView">

<h1>Welcome!</h2>

<p>
Ready to begin your path to better health? <b>YSoFat?</b> is a simple, intelligent life-style coach that keeps
track of your daily activities and provides recommendations for improvements. You do <b>not</b> have to enter calories 
or even every detail of your day to day life. Rather, by giving basic feedback on what you do, the application will try 
it's best to guide you to a better you. Ready to begin?
</p>

<button class="btn btn-primary" id="beginButton">Begin!</button>	

</div>